extends /modules/core/views/layouts/layout
block content
   .row
      .col-md-6.col-md-offset-3
         div(ng-controller='CoreCtrl')
            form(role='form' )
               .form-group
                  label(for='dataString') dataString
                  input#dataString.form-control(type='text', name='dataString', ng-model="request_model.dataString")


               button.btn.btn-default(ng-click="submit()") Submit

            leaflet(style="height:512px", markers="markers")
