h3  Diagram
.row
  .col-sm-9
    div( style='width:100%; height:600px' class='chart-container' )
      network-graph
  .col-sm-3
    div(style='width:100%; height:600px')
      .row()
        div()
          p(style="font-size:30px") # {{clusterTerm}}
      .row(style='width:100%; height:600px')
        div(style='width:100%; height:600px' class="cloud-container")
          word-cloud(ng-model="clusterText")
