spinner(show='showSpinner') //- boolean scope property to toggle spinner
h3 Events
h5 drag mouse over an area to select
.row(style='padding-bottom:20px')
  .col-md-12
    .nav-chart-container(style='width:95%; height:160px')
      event-graph
.row
  .col-md-3(style='height:550px; overflow-y:auto' ng-show='selectedEvents')
    | Filter
    form(ng-submit='filterChanged()')
      .form-group
        .row
          .col-md-10
            input.form-control(ng-model='filterText')
          .col-md-2
            button.btn.btn-info(type='submit', style='float:right')
              span.glyphicon.glyphicon-search

    table.table.table-striped
      caption(style='font-weight:bold;font-size:1.2em') Events
      tbody
        tr(ng-repeat='evt in selectedEvents')
          td(ng-click='eventSelected(evt)' ng-class='{highlight: (selectedEvent && selectedEvent.id === evt.id)}')
            p(style='display:inline') {{evt.start_time_ms | date:'short'}} - {{evt.end_time_ms | date:'short'}}
            input.form-control(style='display:inline;width:100px;margin-left:16px' ng-model='evt.name' ng-blur='eventChanged(evt)')
  .col-md-4(style='height:550px; overflow-y:hidden')
    event-map(ng-show='eventPoints' ng-model='eventPoints')
      iframe(src='http://54.86.248.86:3005/index.html' style='width:100%; height:600px' scrolling='no' frameborder='0' id='map-frame')
  .col-md-5
    .row(ng-show='imageUrls' style='width:100%; height:100px; overflow-y:auto')
      image-grid(hover-dir='left')
    .row(style='width:100%; height:60px; overflow-y:auto')
      p(ng-show='clusterTerm' style='font-size:1.5em') # {{clusterTerm}}
    .row(style='width:100%; height:400px')
      .cloud-container(style='width:100%; height:400px')
        word-cloud(ng-model='clusterText')
