spinner(show='showSpinner') //- boolean scope property to toggle spinner
h3 Events
h5 drag mouse over an area to select
.row(style='padding-bottom:20px')
  .col-md-12
    .nav-chart-container(style='width:95%; height:160px')
      event-graph
.row
  .col-md-3(style='height:550px; overflow-y:auto')
    table.table.table-striped
      thead
        tr
          th Events
      tbody(ng-repeat="selectedEvent in selectedEvents")
        tr
          td
            p(style="display:inline",ng-click="eventSelected(selectedEvent)") {{selectedEvent.start_time_ms | date:'short'  }} - {{selectedEvent.end_time_ms | date:'short'  }}
            input(style="display:inline;width:100px;margin-left:16px",ng-model='selectedEvent.name', ng-blur="eventChanged(selectedEvent)").form-control
  .col-md-4(style='height:550px; overflow-y:hidden')
    event-map(ng-model='eventPoints')
      iframe(src="http://54.86.248.86:3005/index.html", style="width:100%; height:600px;", scrolling="no", frameborder="1", id="map-frame")
  .col-md-5
    .row(ng-show='imageUrls' style='width:100%; height:100px; overflow-y:auto')
      image-grid(hover-dir='left')
    .row(style='width:100%; height:60px; overflow-y:auto')
      p(ng-show='clusterTerm' style='font-size:1.5em') # {{clusterTerm}}
    .row(style='width:100%; height:400px')
      .cloud-container(style='width:100%; height:400px')
        word-cloud(ng-model='clusterText')
