.well
  h3 Watchman App
  ul
    li
      a(href='#job-monitors') Posts Clusters
    li
      a(href='#diagram') Linkage Diagram
    li
      a(href='#events') Events


.well
  h3 Demos
  ul
    li
      a(href='/demo/threat-detection') Threat Detection
    li
      a(href='#parser') Image Captions
