.row.text-muted
  .col-md-2 id
  .col-md-1 type
  .col-md-1 lang
  .col-md-2 args
  .col-md-4 times
  .col-md-2 created
hr

.row(ng-repeat='monitor in jobMonitors')
  .col-md-2
    a(ng-href='#job-monitors/{{ monitor.id }}/clusters') {{monitor.id}}
  .col-md-1 {{monitor.featurizer}}
  .col-md-1 {{monitor.lang}}
  .col-md-2 {{monitor.service_args}}
  .col-md-4 {{monitor.start_time | date:'short'}} - {{monitor.end_time | date:'short'}}
  .col-md-2 {{monitor.created | date:'short'}}

