.row
  .col-md-8
    h3 {{jobMonitors.length}} Jobs
    h4 {{clustersCount}} Posts Clusters (out of {{totalClustersCount.count}} total)
  .col-md-2
    | Most recent:
    select(ng-model='limit' class='form-control' ng-options='n for n in limitOptions')
  .col-md-2
    | Type:
    select(ng-model='type' class='form-control' ng-options='t for t in typeOptions')
.row.text-muted
  .col-md-1 # clusters
  .col-md-2 id
  .col-md-1 type
  .col-md-1 lang
  .col-md-1 state
  .col-md-1 args
  .col-md-1 errors
  .col-md-2 query
  .col-md-2 run
hr

.row(ng-repeat='monitor in jobMonitors')
  .col-md-1
    a(ng-href='#job-monitors/{{ monitor.id }}/clusters'
      ng-show='monitor.featurizer !== "linker"').
        {{monitor.postsClusters.length}}
  .col-md-2 {{monitor.id}}
  .col-md-1 {{monitor.featurizer}}
  .col-md-1 {{monitor.lang}}
  .col-md-1 {{monitor.state}}
  .col-md-1 {{monitor.service_args}}
  .col-md-1 {{monitor.error_msg}}
  .col-md-2 {{monitor.start_time | date:'short'}} - {{monitor.end_time | date:'short'}}
  .col-md-2 {{monitor.created | date:'short'}} - {{monitor.done_at | date:'short'}}

