form(role='form')
  .form-group
    label(for='dataString') Enter text to parse
    input#dataString.form-control(name='dataString' ng-model='myModel.dataString')


button.btn.btn-default(ng-click='submit()') Submit

leaflet(style='height:512px' center='center' tiles='tiles' markers='markers')
button.btn.btn-default(ng-click='destroyData()') Destroy data
