extends /modules/core/views/layouts/layout
block content
  .row
    .col-md-1
    .col-md-10
      .row
        .col-md-12
          h3 Threat Detection
      .row
        .col-md-12
          form#archive-form
            .form-group
              label URL to zip file
              input#archive-url.form-control(name='images_url' placeholder='https://s3.amazonaws.com/bucket/images.zip' value='https://s3.amazonaws.com/watchman/threats/test.zip')
            .form-group
              label.radio-inline
                input(type='radio' value='day' name='tod' checked)
                | Day
              label.radio-inline
                input(type='radio' value='night' name='tod')
                | Night
            .form-group
              button.btn.btn-primary(type='submit') Run Detection
      .row#images-container(style='margin-top:20px')

    .col-md-1

block scripts
  script.
    var $body = $('body')
    var $imgContainer = $('#images-container')
    var spinner = new Spinner({scale: 3, lines: 10})

    $('#archive-form').submit(function(e) {
      e.preventDefault()
      spinner.spin($body[0])
      $.post('/api/extract/threats', {
        archive_url: $('#archive-url').val(),
        time_of_day: $('input[name="tod"]:checked').val()
      })
      .done(function(data) {
        checkJob(data)
      })
      .fail(handleError)
    })

    function checkJob(id) {
      $.post('/api/jobs/status', { job_id: id })
      .done(function(data) {
        if (data.state === 'processed') {
          spinner.stop()
          console.info(data)
          showImages(JSON.parse(data.data))
        } else if (data.state === 'error') {
          handleError(new Error(data.error))
        } else {
          setTimeout(function() { checkJob(id) }, 2000)
        }
      })
      .fail(handleError)
    }

    function handleError(err) {
      spinner.stop()
      console.error(err)
      alert('Oops, an error occurred')
    }

    function showImages(images) {
      $imgContainer.empty()
      images.forEach(addToGrid)
    }

    function addToGrid(image) {
      // remove path part not mapped to virtual path
      var src = image.name.replace(/^\/downloads/i, '')
      var color = image.classification === 'threat' ?
        'bg-danger' :
        'bg-success'
      var $div = $('<div class="col-md-2" style="height:200px" onclick="window.open(\'' + src + '\')">')
      var $label = $('<p class="' + color + '">' + image.classification + '</p>')
      var $img = $('<img width="100%" src="' + src + '">')

      $imgContainer.append($div.append($label.append($img)))
    }
