version: '2.1'
services:
  mongo:
    image: mongo:3.2
    hostname: mongo
    ports:
      - "27017:27017"

  master:
    image: sotera/spark-mongo:1
    command: bin/spark-class org.apache.spark.deploy.master.Master -h master
    hostname: master
    environment:
      MASTER: spark://master:7077
      SPARK_CONF_DIR: /conf
      SPARK_PUBLIC_DNS: localhost
      SPARK_EXECUTOR_MEMORY: 5g
    # external_links:
    #   - mongo3:mongo
    expose:
      - 7001
      - 7002
      - 7003
      - 7004
      - 7005
      - 7006
      - 7077
      - 6066
    ports:
      - 4040:4040
      - 6066:6066
      - 7077:7077
      - 8080:8080
    volumes:
      - ../spark/conf/master:/conf
      - ../spark/data:/tmp/data
      - ../spark/script:/app

  worker:
    image: sotera/spark-mongo:1
    command: bin/spark-class org.apache.spark.deploy.worker.Worker spark://master:7077
    hostname: worker
    environment:
      SPARK_CONF_DIR: /conf
      SPARK_WORKER_CORES: 8
      SPARK_WORKER_MEMORY: 5g
      SPARK_WORKER_PORT: 8881
      SPARK_WORKER_WEBUI_PORT: 8081
      SPARK_PUBLIC_DNS: localhost
    # external_links:
    #   - mongo3:mongo
    expose:
      - 7012
      - 7013
      - 7014
      - 7015
      - 7016
      - 8881
    ports:
      - 8081:8081
    volumes:
      - ../spark/conf/worker:/conf
      - ../spark/data:/tmp/data
