script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')



script(src='/bower_components/angular/angular.js')
script(src='/bower_components/angular-resource/angular-resource.js')
script(src='/bower_components/angular-route/angular-route.js')
script(src='/bower_components/lodash/dist/lodash.min.js')
script(src='/bower_components/leaflet/dist/leaflet.js')
script(src='/bower_components/angular-leaflet-directive/dist/angular-leaflet-directive.min.js')
script(src='/bower_components/spin.js/spin.min.js')
script(src='/bower_components/moment/moment.js')
script(src='/bower_components/moment-range/dist/moment-range.js')
script(src='/bower_components/jstat/dist/jstat.js')

script(src='/js/d3.layout.cloud.js')

script(src='/modules/core/app.core.js')
script(src='/modules/core/controllers/navigation.ctrl.js')
script(src='/modules/core/controllers/parser.ctrl.js')
script(src='/modules/core/controllers/clusters.ctrl.js')
script(src='/modules/core/controllers/diagram.ctrl.js')
script(src='/modules/core/controllers/job-monitors.ctrl.js')

script(src='/modules/core/directives/network-graph-directive.js')
script(src='/modules/core/directives/navigation-chart-directive.js')
script(src='/modules/core/directives/word-cloud-directive.js')
script(src='/modules/core/directives/image-grid-directive.js')
script(src='/modules/core/directives/hover-image-directive.js')
script(src='/modules/core/directives/spinner-directive.js')

script(src='https://d3js.org/d3.v4.min.js')

script(src='/js/lb-services.js')
script(src='/js/app.js')



